################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Thomerson.Secret/.vs/Thomerson.Secret/v16
/Thomerson.Secret/bin/Debug
/Thomerson.Secret/obj/Debug
/Thomerson.Secret/packages
/Thomerson.Secret.Bisness/bin/Debug
/Thomerson.Secret.Bisness/obj/Debug
/Thomerson.Secret.Model/bin/Debug
/Thomerson.Secret.Model/obj/Debug
